@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #2F4550;
    color: #fff;
    font-family: 'Geo', cursive;
    font-size: 60px;
}

#dadjokecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    /* font-size: 4em; */
    text-align: center;
    margin-top: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #124559;
    font-family: 'Geo', cursive;
    font-size: 30px;
}