@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #2F4550;
    color: #fff;
    font-family: 'Geo', cursive;
    font-size: 60px;
}

#dadjokecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    /* font-size: 4em; */
    text-align: center;
    margin-top: 20px;
    margin: 5px;
}

button {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #124559;
    font-family: 'Geo', cursive;
    font-size: 30px;
}

#againbutton{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Geo', cursive;
    color: #FF299C;
    font-size: 30px;
    margin: 5px;
}

#hilariousbutton{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Geo', cursive;
    color: #06D6A0;
    font-size: 30px;
    margin: 5px;
}

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

#stanleyImage{
    display: block;
    height: 500px;
    width: auto;
    margin-top: 20px;

}

#michaelImage{
    display: block;
    height: 500px;
    width: auto;
    object-fit: contain;
    margin-top: 20px;

}