.center-title {
    text-align: center;
    font-family: 'Push Start P2', cursive;
    font-size: 42pt;
    margin-top: 50px;
  }

  .description-thang {
    text-align: center;
    font-family: 'Push Start P2', cursive;
    font-size: 12pt;
    margin-top: 50px;
  }