@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* .center-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 42pt;
    margin-top: 50px;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-primary: #39FF14;
    --color-secondary: #FFFF33;
    --color-tertiary: #FF5F1F;
    --color-quaternary: #FF10F0;
    --color-quinary: #9D00FF;
    /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

body {
    min-height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eff8e2;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

.center-title {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90px;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    /*color: transparent;
    //background-color: white;
    //background-clip: text;*/
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    30% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-12px, -12px);
    }

    50% {
        transform: translate(-12px, -12px);
    }

    60% {
        transform: translate(-12px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.card {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 10pt;
    margin-top: 50px;
}

.card {
    position: relative;
    height: 500px;

    /*background: linear-gradient(0deg, #000, #272727);*/
}

.img {}

body {
    background-color: #2F4550;


}

.card:before,
.card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;

}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card:after {
    filter: blur(50px);
}

#audiobox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.material-icons {
    /* width: 20%;
    height: auto; */
    background-color: black;
    color: #eff8e2;
    /* margin-right: 10px; */
    font-size: 6rem;

}

#playbutton,
#pausebutton,
#downvolbutton,
#upvolbutton {
    width: 20%;
}

#playbutton:hover {
    background-color: #FF5F1F;
}

#pausebutton:hover {
    background-color: #FF10F0;
}

#downvolbutton:hover {
    background-color: #00ff00;
}

#upvolbutton:hover {
    background-color: yellow;
}

#favgame {
    text-align: center;
}