*{
    padding: 0;
    margin: 0;
    background-color: #2F4550;
}

#jumpGame{
    width: 500px;
    height: 200px;
    border: 10px dashed peachpuff;
}

#player{
    width: 40px;
    height: 60px;
    background-color: aquamarine;
    position: relative;
    top: 140px;
    background-image: url(Prisonmike.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}

.animate{
    animation: jump 500ms;
}



@keyframes jump{
    0%{top: 140px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top:140px;}
}

#object{
    width: 20px;
    height: 25px;
    background-color: blueviolet;
    position: relative;
    top: 114px;
    left: 479px;
    animation: block 1s infinite linear;
    animation-delay: 6s;
    background-image: url(./513NRjn5xcL._AC_UF1000\,1000_QL80.jpg);
}

@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}
}