@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    background-color: #36454F;
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size: 16px;
}

p {
    text-align: center;
    font-size: 2em;
}

#eightball {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

#eightball:hover {
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}