*{
    padding: 0;
    margin: 0;
    background-color: #2F4550;
}

:root {
    --color-primary: #39FF14;
    --color-secondary: #FFFF33;
    --color-tertiary: #FF5F1F;
    --color-quaternary: #FF10F0;
    --color-quinary: #9D00FF;
}

#timer{
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
}

#jumpGame{
    width: 520px;
    height: 220px;
    border: 10px dashed peachpuff;
}

#player{
    width: 40px;
    height: 60px;
    background-color: aquamarine;
    position: relative;
    top: 140px;
    background-image: url(./picsforjumpgame/Prisonmike.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}

.animate{
    animation: jump 500ms;
}



@keyframes jump{
    0%{top: 140px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top:140px;}
}

#object{
    width: 20px;
    height: 25px;
    background-color: blueviolet;
    position: relative;
    top: 114px;
    left: 479px;
    animation: block 1s infinite linear;
    animation-delay: 6s;
    background-image: url(./picsforjumpgame/killerdwight.jpg);
}

@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}
}

#audiobox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#playbutton,
#pausebutton,
#downvolbutton,
#upvolbutton {
    width: 20%;
}

#playbutton:hover {
    background-color: #FF5F1F;
}

#pausebutton:hover {
    background-color: #FF10F0;
}

#downvolbutton:hover {
    background-color: #00ff00;
}

#upvolbutton:hover {
    background-color: yellow;
}

#favgame {
    text-align: center;
}

.material-icons {
    /* width: 20%;
    height: auto; */
    background-color: black;
    color: #eff8e2;
    /* margin-right: 10px; */
    font-size: 6rem;

}