@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

*{
    padding: 0;
    margin: 0;
    background-color: #2F4550;
    color: #fff;
    font-family: 'Geo', cursive;
    font-size: 60pt;
}

#timer{
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
}

#jumpGame{
    width: 520px;
    height: 220px;
    border: 10px dashed peachpuff;
}

#player{
    width: 40px;
    height: 60px;
    background-color: aquamarine;
    position: relative;
    top: 140px;
    background-image: url(./picsforjumpgame/Prisonmike.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}

.animate{
    animation: jump 500ms;
}

.brand-logo.center{
    font-size: 35pt;
    
}


.home, .ball, .dad, .pong{
    font-size: 15pt;
}


@keyframes jump{
    0%{top: 140px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top:140px;}
}

#object{
    width: 20px;
    height: 25px;
    background-color: blueviolet;
    position: relative;
    top: 114px;
    left: 479px;
    animation: block 1s infinite linear;
    animation-delay: 6s;
    background-image: url(./picsforjumpgame/killerdwight.jpg);
}

@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}
}